# --- Для работы с Kafka ---
kafka-python==2.0.2
python-dotenv==1.0.1

# --- Для генерации данных (faker, случайности) ---
faker==24.4.0
pytz==2024.1
python-dateutil==2.9.0.post0

# --- DBT для трансформаций ---
dbt-core==1.7.8
dbt-postgres==1.7.8
psycopg2-binary==2.9.9
pyyaml==6.0.1
protobuf==4.21.12
SQLAlchemy==1.4.46
pandas==2.2.1

# --- Dev: линтеры и тесты ---
black==24.2.0
flake8==7.0.0
pytest==8.1.1

# --- Опционально: для чтения/записи конфигов и логов ---
loguru==0.7.2

# --- Для работы с HTTP-запросами ---
requests==2.31.0
urllib3==1.26.18
